* {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

input {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient();
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
}

.todo-app h2 {
  margin-bottom: 20px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: pink;
  border-radius: 18px;
  padding-left: 18px;
  margin-bottom: 25px;
}
