* {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

input {
  border-radius: 8px;
  padding: 5px;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg #153677, #4e085f);
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: pink;
  border-radius: 18px;
  padding-left: 18px;
  margin-bottom: 25px;
}

ul {
  border: 1px solid pink;
  border-radius: 6px;
  padding: 16px;
  width: 50%;
  display: inline-block;
}

ul li::before {
  content: "";
}
ul li {
  list-style: none;
  user-select: none;
  position: relative;
  padding: 12px 8px 12px 50px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}
